---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';

const pageTitle = "About Me";

const identity = {
  firstName: "Scott",
  country: "Canada",
  occupation: "Remote Sensing Scientist",
  hobbies: ["chess", "hiking", "hockey"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];
const happy = true;
const finished = true;
const goal = 3;

const skillColor = "crimson";
const fontWeight = "bold";
const textCase = "uppercase"
---


<BaseLayout pageTitle={pageTitle} skillColor={skillColor} fontWeight={fontWeight} textCase={textCase}>
  <p>Hi, I'm {identity.firstName} from {identity.country}. I work as a {identity.occupation}.</p>
  <p>My hobbies include:</p>
  <ul>
    {identity.hobbies.map(hobby => (
      <li>{hobby}</li>
    ))}
  </ul>

  <p>Here are some of my skills:</p>
  <ul>
    {skills.map(skill => (
      <li class="skill">{skill}</li>
    ))}
  </ul>

  <p>Am I happy? {happy ? "Yes" : "No"}</p>
  <p>Have I finished my goal? {finished ? "Yes" : "No"}</p>
  <p>My goal is to learn {goal} new skills this year.</p>
</BaseLayout>